__pycache__/
*.pyc
.venv/
.env

# Outputs
data/output/*
data/samples/*
!data/**/.gitkeep
*.log

# Large model files
weights/age_gender/*
weights/eye_detection/*
weights/face_detection/*
weights/gaze/*
weights/headpose/*
weights/yolo/*
!weights/**/.gitkeep