__pycache__/
*.pyc
.venv/
.env

# Outputs
#data/output/       # 나중에 주석 빼셈
*.log

# Large model files
models/age_gender/*
models/face_detection/*
models/gaze/*
models/headpose/*
models/yolo/*
!models/**/.gitkeep